* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

canvas {
    position: fixed;
    inset: 0px;
}

#fps {
    position: fixed;
    inset: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}
